obj/
*.o
*.exe
CourseTracker
Merken
Merken.app/
merken_tests
merken_tests.exe
*.db
src/manifest.rc
UI/src/manifest.rc

.vscode/ipch/
.vscode/c_cpp_properties.json
*.ilk
*.pdb

.DS_Store

LOCAL_SRS.md
